.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.hidden {
  display:none;
}


.emailReg, .passReg {
  margin-left: 30%;
}

h1 {
  text-align: center;
}

.u-pull-right {
  margin-right:10%;
  float: right;
}
